<h1>Posts</h1>

<% @adventures.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |adventure| %>
      <div class="col-md-4">
        <h4 class="name"><%= link_to adventure.name, adventure %></h4>
        <%= image_tag adventure.picture_url, width: '100%' if adventure.picture.present?%>
        <br>
      	<%= adventure.description %>
      </div>
    <% end %>
  </div>
<% end %>
