<head>
	<title></title>
</head>

<body>
	<h1>About me:</h1>
	<p>Brianna Dettloff is a high-school programmer who built this website during Rails Girls LA 2015 with the help of Jackie and Machiko. Hope you like it! C:</p>
</body>